### Importing required library

In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
import re
import string

In [3]:
fake_dataset = pd.read_csv("Fake.csv")
true_dataset = pd.read_csv("True.csv")

In [4]:
fake_dataset.head(10)

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"
5,Racist Alabama Cops Brutalize Black Boy While...,The number of cases of cops brutalizing and ki...,News,"December 25, 2017"
6,"Fresh Off The Golf Course, Trump Lashes Out A...",Donald Trump spent a good portion of his day a...,News,"December 23, 2017"
7,Trump Said Some INSANELY Racist Stuff Inside ...,In the wake of yet another court decision that...,News,"December 23, 2017"
8,Former CIA Director Slams Trump Over UN Bully...,Many people have raised the alarm regarding th...,News,"December 22, 2017"
9,WATCH: Brand-New Pro-Trump Ad Features So Muc...,Just when you might have thought we d get a br...,News,"December 21, 2017"

In [5]:
true_dataset.head(10)

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"
5,"White House, Congress prepare for talks on spe...","WEST PALM BEACH, Fla./WASHINGTON (Reuters) - T...",politicsNews,"December 29, 2017"
6,"Trump says Russia probe will be fair, but time...","WEST PALM BEACH, Fla (Reuters) - President Don...",politicsNews,"December 29, 2017"
7,Factbox: Trump on Twitter (Dec 29) - Approval ...,The following statements were posted to the ve...,politicsNews,"December 29, 2017"
8,Trump on Twitter (Dec 28) - Global Warming,The following statements were posted to the ve...,politicsNews,"December 29, 2017"
9,Alabama official to certify Senator-elect Jone...,WASHINGTON (Reuters) - Alabama Secretary of St...,politicsNews,"December 28, 2017"

Inserting a column called "class" for fake and real news dataset to categories fake and true news.

In [6]:
fake_dataset["class"] = 0
true_dataset["class"] = 1

Removing last 10 rows from both the dataset, for manual testing

In [7]:
fake_dataset.shape

(23481, 5)

In [8]:
true_dataset.shape

(21417, 5)

In [9]:
fake_manual_testing = fake_dataset.tail(10)
for i in range(23480,23470,-1):
 	fake_dataset.drop([i], axis = 0, inplace = True)

true_manual_testing = true_dataset.tail(10)
for i in range(21416,21406,-1):
	true_dataset.drop([i], axis = 0, inplace = True)

In [ ]:
fake_manual_testing["class"] = 0
true_manual_testing["class"] = 1

In [11]:
manual_testing = pd.concat([fake_manual_testing,true_manual_testing], axis=0)
manual_testing.to_csv("manual_testing.csv")

Merging the main fake and true dataframe

In [12]:
df_merge = pd.concat([fake_dataset,true_dataset], axis =0 )
df_merge.head(10)

,title,text,subject,date,class
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0
5,Racist Alabama Cops Brutalize Black Boy While...,The number of cases of cops brutalizing and ki...,News,"December 25, 2017",0
6,"Fresh Off The Golf Course, Trump Lashes Out A...",Donald Trump spent a good portion of his day a...,News,"December 23, 2017",0
7,Trump Said Some INSANELY Racist Stuff Inside ...,In the wake of yet another court decision that...,News,"December 23, 2017",0
8,Former CIA Director Slams Trump Over UN Bully...,Many people have raised the alarm regarding th...,News,"December 22, 2017",0
9,WATCH: Brand-New Pro-Trump Ad Features So Muc...,Just when you might have thought we d get a br...,News,"December 21, 2017",0

In [13]:
df_merge.columns

Index(['title', 'text', 'subject', 'date', 'class'], dtype='object')

In [14]:
df = df_merge.drop(["title", "subject","date"], axis = 1)

In [15]:
df.isnull().sum()

text     0
class    0
dtype: int64

#### Randomly shuffling the dataframe

In [16]:
df = df.sample(frac = 1)

In [17]:
df.head()

                                                    text  class
15698                                                         0
10564  (Reuters) - Ted Cruz’s Super Tuesday victories...      1
10295  WASHINGTON (Reuters) - Supreme Court nominee M...      1
2365   WASHINGTON (Reuters) - The U.S. Senate on Tues...      1
3931   WASHINGTON (Reuters) - The U.S. House Rules co...      1

In [18]:
df.reset_index(inplace = True)
df.drop(["index"], axis = 1, inplace = True)

In [19]:
df.columns

Index(['text', 'class'], dtype='object')

In [20]:
df.head()

                                                text  class
0                                                         0
1  (Reuters) - Ted Cruz’s Super Tuesday victories...      1
2  WASHINGTON (Reuters) - Supreme Court nominee M...      1
3  WASHINGTON (Reuters) - The U.S. Senate on Tues...      1
4  WASHINGTON (Reuters) - The U.S. House Rules co...      1

#### Creating a function to convert the text in lowercase, remove the extra space, special chr., ulr and links.

In [21]:
def wordopt(text):
    text = text.lower()
    text = re.sub('\[.*?\]', '', text)
    text = re.sub("\\W"," ",text) 
    text = re.sub('https?://\S+|www\.\S+', '', text)
    text = re.sub('<.*?>+', '', text)
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('\n', '', text)
    text = re.sub('\w*\d\w*', '', text)    
    return text

In [22]:
df["text"] = df["text"].apply(wordopt)

#### Defining dependent and independent variable as x and y

In [23]:
x = df["text"]
y = df["class"]

#### Splitting the dataset into training set and testing set.

In [24]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25)

#### Convert text to vectors

In [25]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [26]:
vectorization = TfidfVectorizer()
xv_train = vectorization.fit_transform(x_train)
xv_test = vectorization.transform(x_test)

### 1. Logistic Regression

In [27]:
from sklearn.linear_model import LogisticRegression
logregmodel = LogisticRegression()
logregmodel.fit(xv_train,y_train)
pred_lr=logregmodel.predict(xv_test)
logregmodel.score(xv_test, y_test)

0.985650623885918

### 2. Decision Tree Classification

In [28]:
from sklearn.tree import DecisionTreeClassifier
DesTreeClassmodel = DecisionTreeClassifier()
DesTreeClassmodel.fit(xv_train, y_train)
pred_dt = DesTreeClassmodel.predict(xv_test)
DesTreeClassmodel.score(xv_test, y_test)

0.9964349376114082

### 3. Random Forest Classifier

In [29]:
from sklearn.ensemble import RandomForestClassifier
Randforestmodel = RandomForestClassifier(random_state=0)
Randforestmodel.fit(xv_train, y_train)
pred_rfc = Randforestmodel.predict(xv_test)
Randforestmodel.score(xv_test, y_test)

0.9877005347593583

In [33]:
###Testing

In [36]:
def output_label(n):
    if n == 0:
        return "Fake News"
    elif n == 1:
        return "Real News"

def manual_testing(news):
    testing_news = {"text": [news]}
    new_def_test = pd.DataFrame(testing_news)
    new_def_test["text"] = new_def_test["text"].apply(wordopt)
    new_x_test = new_def_test["text"]
    new_xv_test = vectorization.transform(new_x_test)
    pred_LR = logregmodel.predict(new_xv_test)
    pred_DT = DesTreeClassmodel.predict(new_xv_test)
    pred_RFC = Randforestmodel.predict(new_xv_test)
    return print("\n\nLR Prediction: {} \nDT Prediction: {} \nRFC Prediction: {}".format(output_label(pred_LR[0]), output_label(pred_DT[0]), output_label(pred_RFC[0])))

In [37]:
news=str(input())
manual_testing(news)

LR Prediction: Fake News
DT Prediction: Fake News
RFC Prediction: Fake News

In [39]:
import joblib
joblib.dump(Randforestmodel,'News_Classifier')

['News_Classifier']